<div class="dialog-container">
  <h1 mat-dialog-title>
    {{ data.isNew ? 'Set Passphrase & Magic Number' : 'Verify Passphrase' }}
  </h1>
  <div mat-dialog-content>
    <div *ngIf="data.isNew">
      <mat-form-field appearance="fill" class="input-field">
        <mat-label>Passphrase</mat-label>
        <input matInput [(ngModel)]="passphrase" type="password" (input)="validatePassphrase()"/>
      </mat-form-field>
      <mat-form-field appearance="fill" class="input-field">
        <mat-label>Confirm Passphrase</mat-label>
        <input matInput [(ngModel)]="confirmPassphrase" type="password" (input)="validatePassphrase()"/>
      </mat-form-field>

      <mat-form-field appearance="fill" class="input-field">
        <mat-label>Magic Number</mat-label>
        <input matInput [(ngModel)]="magicNumber" type="number" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="input-field">
        <mat-label>Confirm Magic Number</mat-label>
        <input matInput [(ngModel)]="confirmMagicNumber" type="number" />
      </mat-form-field>

      <ul class="validation-list">
        <li [ngClass]="{'valid': passphraseValidations.length, 'invalid': !passphraseValidations.length}">
          ✔ At least 12 characters
        </li>
        <li [ngClass]="{'valid': passphraseValidations.uppercase, 'invalid': !passphraseValidations.uppercase}">
          ✔ At least one uppercase letter
        </li>
        <li [ngClass]="{'valid': passphraseValidations.specialChar, 'invalid': !passphraseValidations.specialChar}">
          ✔ At least one special character eg. !#$%^&* etc.
        </li>
      </ul>
    </div>

    <div *ngIf="!data.isNew">

      <mat-form-field appearance="fill" class="input-field">
        <mat-label>Enter your Passphrase</mat-label>
        <input matInput [(ngModel)]="passphrase" type="password" />
      </mat-form-field>
    </div>
    <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">logout </button>
    <button mat-button color="primary" (click)="onSave()">Save</button>
  </div>
</div>
