<div class="chat-layout">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened class="sidenav" class="chat-sidenav">
      <div class="sidenav-header">
        <h2 class="sidenav-title">Chats</h2>
      </div>
      <mat-divider></mat-divider>
      <mat-list class="chat-list">
        <mat-list-item
          *ngFor="let chat of chatRooms"
          (click)="selectChat(chat)"
          [class.selected]="selectedChat?.chatId === chat.chatId"
          class="chat-list-item"
        >
          <div class="imageAndName">
            <img
              matListAvatar
              class="avatar"
              [src]="chat.recipientProfilePicture || 'assets/default-avatar.png'"
              alt="{{ chat.recipientName }}"
            />
            <h3 class="recipient-name">{{ chat.recipientName }}</h3>
          </div>



          <div class="chat-info">

            <div class="last-message">{{ chat.lastMessageContent }}</div>
            <div class="timestamp">{{ chat.lastMessageTimestamp | date: 'short' }}</div>
          </div>

        </mat-list-item>
      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content">
      <div class="chat-area" *ngIf="selectedChat; else noChatSelected">
        <div class="chat-header">
          <img
            class="avatar"
            [src]="selectedChat.recipientProfilePicture || 'assets/default-avatar.png'"
            alt="{{ selectedChat.recipientName }}"
          />
          <h2 class="recipient-name">{{ selectedChat.recipientName }}</h2>
        </div>
        <mat-divider></mat-divider>
        <div class="messages">
          <div
            *ngFor="let message of messages"
            [class.sender]="message.senderId === 'user-id'"
            class="message-container"
          >
            <div class="message-content">
              {{ message.content }}
            </div>
            <div class="message-timestamp">
              {{ message.timestamp | date: 'short' }}
            </div>
          </div>
        </div>
        <div class="message-input">
          <mat-form-field class="input-field">
            <input
              matInput
              placeholder="Type a message..."
              [(ngModel)]="messageContent"
              (keyup.enter)="sendMessage()"
            />
          </mat-form-field>
          <button mat-icon-button color="primary" (click)="sendMessage()">
            <mat-icon>send</mat-icon>
          </button>
        </div>
      </div>
      <ng-template #noChatSelected>
        <div class="no-chat">
          <h3 class="no-chat-message">Please select a chat to view messages</h3>
        </div>
      </ng-template>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
